html {
  scroll-behavior: smooth;
  
}

body {
  font-family: Arial, sans-serif;
  color: #03192e;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #093f74;
  width: 100%;
  padding: 1%;
  text-align: center;
  position: fixed;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #2c80ff;
}

nav a.active {
  color: #2c80ff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.link {
  font-weight: bold;
  color: #093f74;
  text-decoration: none; /* remove underline */
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.link:hover{
  color: #2c80ff;
}

.indent {
  text-indent: 20px;
}

/* home */
#home {
  padding-top:0;
  height: 100vh;
}

#logo {
  width: 40%;
  height: auto;
}

#homecnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  color:#093f74;
  font-size: 40px;
}

.animation p{
  font-size: 20px;
  text-align: center;
}

#numberCardsHome {
  display: flex;
  justify-content: space-around;
}

.numberCard {
  color: #093f74;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  opacity: 0;
}

.numberCard span {
  font-size: 24px;
}

/* about */
#about {
  padding-top: 250px;
  padding-bottom: 200px;
}

.cardcnt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#img1 {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.about-text {
  font-size: 18px;
  color: #093f74;
}

.reference {
  font-size: 12px;
}

/* approach */
#approach {
  padding-top: 50px;
  padding-bottom: 50px;
}

.wheelcnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#img2 {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.wheel-text {
  font-size: 1em;
  color: #093f74;
}

.ethics {
  font-size: 12px;
}

.grid-container {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  background-color: #f4f4f4;
  color: #093f74;
  padding: 20px;
  border-radius: 8px;
}

.imgcnt {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;
  gap: 50px;
}

#img3 {
  height: 50vh;
  width: auto;
}

#img4 {
  height: 50vh;
  width: auto;
}

#img5 {
  height: 50vh;
  width: auto;
}

/* findings */
#findings{
  padding-top: 50px;
  padding-bottom: 50px;
}

.grid-list {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(minmax(300px, 1fr));
  gap: 20px;
}

.subsection {
  background-color: #f4f4f4;
  color: #093f74;
  padding: 20px;
  border-radius: 8px;
}

.ref-list{
  list-style: decimal;
}

/* contact */
#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

hr {
  color:#093f74;
}

/* footer */
footer {
  background-color: #093f74;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 2%;
  text-align: center;
  
}

h3 {
  text-decoration: underline;
}

.footer-link {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none; /* remove underline */
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.footer-link:hover{
  color: #2c80ff;
}

.coordcnt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:100px;
}

img {
  height:80px;
  width: auto;
}
