html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #03192e;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #093f74;
  width: 100%;
  padding: 1%;
  text-align: center;
  position: fixed;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #2c80ff;
}

.active {
  color: #2c80ff; 
  font-weight: 600;
}

/* home */
#home {
  height: 100vh;
}

#logo {
  width: 600px;
  height: auto;
}

#homecnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  color:#093f74;
  font-size: 40px;
}

.animation p{
  font-size: 20px;
  text-align: center;
}

#numberCardsHome {
  display: flex;
  justify-content: space-around;
}

.numberCard {
  color: #093f74;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  opacity: 0;
}

.numberCard span {
  font-size: 24px;
}

/* about */
#about {
  height: 100vh;
}
#img1 {
  width: 800px;
  height: auto;
  float: left;
}

#aboutcnt p {
  margin-top: 0;
  font-size: 18px;
}

#aboutcnt li {
  color: #06213b;
  font-size: 18px;
  list-style-type: disc;
}

li {
  list-style: circle;
}


footer {
  background-color: #093f74;
  color: white;
  text-align: center;
  padding: 10px;
}
